@media screen and (max-width: 650px) {
   html{
      min-height: 100%;
   }
   
   
   body{
      min-height: 100%;
   } 

   
   hr{
      display: flex;
      width: 310px;
   }
   
   header {
      flex-direction: column;
   }
   
   ul {
      text-align: center;
      padding: 0;
   }
   
   
   main {
      flex-direction: column;
      align-items: center;
      margin: auto;
   }

   aside{
      flex-direction: column;
   }

   img{
     display: center;
   }

   #imagem{
      display: none;
   }

   .equipe{
      text-align: center;
   }

   section{
      margin: 30px;
   }

   .imagem_perfil1{
      margin: 30px;
   }

   #sessao1{
      flex-direction: column;
   }
   #sessao2{
      flex-direction: column;
   }
   #sessao3{
      flex-direction: column;
   }

   article{
      flex-direction: column;
   }


   .conjunto-cards{
      flex-direction: column;
   }

   footer{
      flex-direction: column;
   }

   .mapBox{
      display: none;
   }

   .linha_footer{
      display: none;
   }


}










@media screen and (max-width: 320px) {


   html{
      margin: 0;
      padding: 0;
   }
   
   
   body{
     width: 100%;
   } 

   h1{
     font-size: 35px;
   }

   
   hr{
      display: flex;
      width: 1px;
      
   }
   
   header {
      flex-direction: column;
   }
   
   ul {
      text-align: center;
      padding: 0;
   }
   
   
   main {
      flex-direction: column;
      align-items: center;
      margin: auto;
   }

   aside{
      flex-direction: column;
   }

   img{
     display: center;
   }

   #imagem{
      display: none;
   }

   .equipe{
      text-align: center;
   }

   section{
      margin: 30px;
   }

   #imagem_perfil1{
      width: 100%;
   }

   #imagem_perfil2{
      width: 100%;
   }

   #imagem_perfil3{
      width: 100%;
   }

   .card1 h1{
      font-size: 25px;
   }

   .card1 h2{
      font-size: 10px;
   }
   .card2 h1{
      font-size: 25px;
   }

   .card2 h2{
      font-size: 10px;
   }
   .card3 h1{
      font-size: 25px;
   }

   .card3 h2{
      font-size: 10px;
   }

   #sessao1{
      flex-direction: column;
   }
   #sessao2{
      flex-direction: column;
   }
   #sessao3{
      flex-direction: column;
   }

   article{
      flex-direction: column;
   }


   .conjunto-cards{
      flex-direction: column;
   }

   footer{
      flex-direction: column;
   }

   .mapBox{
      margin: 30px;
      width: 500px;

   }

   .linha_footer{
      display: none;
   }

   .footer1 h1{
      font-size: 12px;
   }


}
















@media screen and (max-width: 376px) {


   html{
      margin: 0;
      padding: 0;
   
   }
   
   
   body{
     width: 100%;
   } 

   h1{
     font-size: 35px;
   }

   
   hr{
      display: flex;
      width: 1px;
      
   }
   
   header {
      flex-direction: column;
   }
   
   ul {
      text-align: center;
      padding: 0;
   }
   
   
   main {
      flex-direction: column;
      align-items: center;
      margin: auto;
   }

   aside{
      flex-direction: column;
   }

   img{
     display: center;
   }

   #imagem{
      display: none;
   }

   .equipe{
      text-align: center;
   }

   section{
      margin: 30px;
   }

   #imagem_perfil1{
      width: 100% ;
   }

   #imagem_perfil2{
      width: 100%;
   }

   #imagem_perfil3{
      width: 100%;
   }

   .card1 h1{
      font-size: 25px;
   }

   .card1 h2{
      font-size: 10px;
   }
   .card2 h1{
      font-size: 25px;
   }

   .card2 h2{
      font-size: 10px;
   }
   .card3 h1{
      font-size: 25px;
   }

   .card3 h2{
      font-size: 10px;
   }

   #sessao1{
      flex-direction: column;
   }
   #sessao2{
      flex-direction: column;
   }
   #sessao3{
      flex-direction: column;
   }

   article{
      flex-direction: column;
   }


   .conjunto-cards{
      flex-direction: column;
   }

   footer{
      flex-direction: column;
   }

   .mapBox{
      margin: 30px;
      width: 500px;

   }

   .linha_footer{
      display: none;
   }

   .footer1 h1{
      font-size: 12px;
   }


}













@media screen and (max-width: 426px) {


   html{
      margin: 0;
      padding: 0;
   
   }
   
   
   body{
     width: 100%;
   } 

   h1{
     font-size: 35px;
   }

   
   hr{
      display: flex;
      width: 1px;
      
   }
   
   header {
      flex-direction: column;
   }
   
   ul {
      text-align: center;
      padding: 0;
   }
   
   
   main {
      flex-direction: column;
      align-items: center;
      margin: auto;
   }

   aside{
      flex-direction: column;
   }

   img{
     display: center;
   }

   #imagem{
      display: none;
   }

   .equipe{
      text-align: center;
   }

   section{
      margin: 30px;
   }

   #imagem_perfil1{
      width: 100% ;
   }

   #imagem_perfil2{
      width: 100%;
   }

   #imagem_perfil3{
      width: 100%;
   }

   .card1 h1{
      font-size: 25px;
   }

   .card1 h2{
      font-size: 10px;
   }
   .card2 h1{
      font-size: 25px;
   }

   .card2 h2{
      font-size: 10px;
   }
   .card3 h1{
      font-size: 25px;
   }

   .card3 h2{
      font-size: 10px;
   }

   #sessao1{
      flex-direction: column;
   }
   #sessao2{
      flex-direction: column;
   }
   #sessao3{
      flex-direction: column;
   }

   article{
      flex-direction: column;
   }


   .conjunto-cards{
      flex-direction: column;
   }

   footer{
      flex-direction: column;
   }

   .mapBox{
      margin: 30px;
      width: 500px;

   }

   .linha_footer{
      display: none;
   }

   .footer1 h1{
      font-size: 12px;
   }


}














@media screen and (max-width: 769px) {


   html{
      margin: 0;
      padding: 0;
   
   }
   
   
   body{
     width: 100%;
   } 

   h1{
     font-size: 35px;
   }

   
   hr{
      display: flex;
      width: 1px;
      
   }
   
   header {
      flex-direction: column;
   }
   
   ul {
      text-align: center;
      padding: 0;
   }
   
   
   main {
      flex-direction: column;
      align-items: center;
      margin: auto;
   }

   aside{
      flex-direction: column;
   }

   img{
     display: center;
   }

   #imagem{
      display: none;
   }

   .equipe{
      text-align: center;
   }

   section{
      margin: 30px;
   }

   #imagem_perfil1{
      width: 100% ;
   }

   #imagem_perfil2{
      width: 100%;
   }

   #imagem_perfil3{
      width: 100%;
   }

   .card1 h1{
      font-size: 25px;
   }

   .card1 h2{
      font-size: 10px;
   }
   .card2 h1{
      font-size: 25px;
   }

   .card2 h2{
      font-size: 10px;
   }
   .card3 h1{
      font-size: 25px;
   }

   .card3 h2{
      font-size: 10px;
   }

   #sessao1{
      flex-direction: column;
   }
   #sessao2{
      flex-direction: column;
   }
   #sessao3{
      flex-direction: column;
   }

   article{
      flex-direction: column;
   }


   .conjunto-cards{
      flex-direction: column;
   }

   footer{
      flex-direction: column;
   }

   .mapBox{
      margin: 30px;
      width: 500px;

   }

   .linha_footer{
      display: none;
   }

   .footer1 h1{
      font-size: 12px;
   }


}






